.image2 img {
   width: 40rem; 

}

.academ2 {
      display: flex;
      justify-content: center;
      margin: 30px;
}



.myimg {
   
}

.acade2 {



}

.acatext2{
 
padding-left: 14rem;
}

.acatext2 h4{
font-size: 50px;
}

 




@media screen and (max-width: 968px) {

.image2 img {
   padding-left: 5rem;
 width: 45rem; 
}

}

@media screen and (max-width: 668px) {
.acatext2{
 
padding-left: 5em;
}
.academ2 {

      display: flex;
      justify-content: center;
      margin-left: 0px;
      width: 100vh;
}


.image2 img {
   width: 30rem; 
 padding-left: 0rem;
}

}
